{% load compress %}
{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %}

        {% block head-bottom %} {% endblock head-bottom %}
        <title>{% block title %} Queue Prototype {% endblock title %}</title>
    </head>

    <body>
        <div class="container mx-auto">
            {% block content %} {% endblock content %}
        </div>

        {% block body-bottom %} {% endblock body-bottom %}
    </body>
</html>
